//@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700');

/*
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?ohk1um');
  src: url('../fonts/icomoon.eot?ohk1um#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ohk1um') format('truetype'),
    url('../fonts/icomoon.woff?ohk1um') format('woff'),
    url('../fonts/icomoon.svg?ohk1um#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/

